<h1>Welcome <%= @user.full_name %> in this Rails App! </h1>
<p>
  You have successfully signed up to this app!
  Your name is: <%= @user.full_name %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>