<div class="site-footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <div class="widget">
            <h3>About</h3>
            <p>Welcome visitor, where we're passionate about sharing knowledge and expertise 
            in the world of Rails development. Our blog isn't just another online platform; 
            it's a labor of love crafted with the Rails framework and dedicated 
            to educational pursuits.</p>
          </div>
          <div class="widget">
            <h3>Connect with us</h3>
            <ul class="social list-unstyled">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12">
              <div class="widget">
                <h3>Navigations</h3>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="widget">
                <ul class="links list-unstyled">
                  <li><a><%= link_to 'Home', root_path %></a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="widget">
                <ul class="links list-unstyled">
                  <li><a ><%= link_to 'Blog', posts_path %></a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="widget">
                <ul class="links list-unstyled">
                  <li><a><%= link_to 'Categories', post_categories_path %></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center copyright">
        <div class="col-md-8">
          <p>Copyright &copy;. All Rights Reserved. &mdash; Designed with love by <a href="https://dimis1988.github.io/">Dimitris</a> 
          </p>
        </div>
      </div>
    </div>
  </div>