  <div class="custom-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-heading">Home Page</h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text">We invite you to explore my blog, delve into our articles, 
          and join us on this exciting adventure in the world of Rails development. 
          Let's learn, grow, and build amazing things together.</p>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="section">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-6">
          <h2 class="line-top">Post Categories</h2>
        </div>
        <div class="col-6 text-right">
          <a href="#" class="custom-prev-v2 js-custom-prev-v2">Prev</a>
          <span class="mx-3">/</span>
          <a href="#" class="custom-next-v2 js-custom-next-v2">Next</a>
        </div>
      </div>

      <div>
        <div class="owl-4-slider owl-carousel">


        <% @post_categories.each do |post_category|%>
          <div class="product">
            <a>
              <%= link_to post_categories_related_posts_path(post_category) do %>
              <% if post_category.image.attached? %>
                <%= image_tag(post_category.image, alt:"Image", class:"img-fluid") %>
              <% end %>
              <% end %>
            </a>
            <div class="text-center text-md-left">
              <h3><%= post_category.name %></h3>
            </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>


  <div class="container pb-5 mb-5 border-bottom">
    <div class="row justify-content-around">
      <div class="col-lg-4 mb-4 mb-lg-0">

        <h2 class="mb-4">Join Us</h2>
        <div class="line my-3"></div>
        <p>We invite you to explore our blog, delve into our articles, and join us on this exciting adventure in the world of Rails development. Let's learn, grow, and build amazing things together.</p>
        <p class="mt-5"><a href="#" class="btn btn-primary">Get In Touch</a></p>

        
      </div>
      <div class="col-lg-7">
        <div class="custom-accordion" id="accordion_1">
          <div class="accordion-item">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why Rails?</button>
            </h2>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
              <div class="accordion-body">
                <p>Rails isn't just a framework; it's a testament to elegant code, efficiency, and developer happiness. We chose Rails because of its robustness, simplicity, and the vibrant community behind it. By leveraging Rails, we aim to demonstrate its power and versatility, inspiring fellow developers to embark on their Rails journey.</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->

          <div class="accordion-item">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Crafted with Love</button>
            </h2>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
              <div class="accordion-body">
                <p>Every line of code, every design element, and every article published on our blog is infused with passion and care. We believe that when you love what you do, it reflects in the quality of your work. That's why our blog is more than just a technical resource; it's a reflection of our dedication to the craft and our commitment to providing valuable insights to our readers.</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
          <div class="accordion-item">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Educational Mission</button>
            </h2>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
              <div class="accordion-body">
                <p>At Dimitris' blog, education is at the core of everything we do. Our primary objective is to empower developers of all skill levels with practical knowledge and resources to excel in their careers. Whether you're just starting with Rails or you're a seasoned developer, our blog strives to offer valuable tutorials, tips, and best practices to facilitate your learning journey.</p>
              </div>
            </div>

          </div> <!-- .accordion-item -->

        </div>


      </div>


    </div>
  </div>
  

  <div class="section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-7">
          <h2 class="mb-4">Last Blog Posts</h2>
          <div class="line my-3"></div>
        </div>
      </div>
      <div class="row">


      <%= render partial: 'posts/posts' %>

      </div>
    </div>
  </div>



  