  <div class="custom-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-heading">Home Page</h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="section">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-6">
          <h2 class="line-top">Post Categories</h2>
        </div>
        <div class="col-6 text-right">
          <a href="#" class="custom-prev-v2 js-custom-prev-v2">Prev</a>
          <span class="mx-3">/</span>
          <a href="#" class="custom-next-v2 js-custom-next-v2">Next</a>
        </div>
      </div>

      <div>
        <div class="owl-4-slider owl-carousel">


        <% @post_categories.each do |post_category|%>
          <div class="product">
            <a>
              <%= link_to post_categories_related_posts_path(post_category) do %>
              <% if post_category.image.attached? %>
                <%= image_tag(post_category.image, alt:"Image", class:"img-fluid") %>
              <% end %>
              <% end %>
            </a>
            <div class="text-center text-md-left">
              <h3><%= post_category.name %></h3>
              <p>Far far away, behind the word mountains, far from the countries.</p>
            </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>


  <div class="container pb-5 mb-5 border-bottom">
    <div class="row justify-content-around">
      <div class="col-lg-4 mb-4 mb-lg-0">

        <h2 class="mb-4">Why you choose us</h2>
        <div class="line my-3"></div>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <p class="mt-5"><a href="#" class="btn btn-primary">Get In Touch</a></p>

        
      </div>
      <div class="col-lg-7">
        <div class="custom-accordion" id="accordion_1">
          <div class="accordion-item">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How to download and register?</button>
            </h2>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
              <div class="accordion-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->

          <div class="accordion-item">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How to create your paypal account?</button>
            </h2>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
              <div class="accordion-body">
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
          <div class="accordion-item">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to link your paypal and bank account?</button>
            </h2>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
              <div class="accordion-body">
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
              </div>
            </div>

          </div> <!-- .accordion-item -->

        </div>


      </div>


    </div>
  </div>
  

  <div class="section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-7">
          <h2 class="mb-4">Last Blog Posts</h2>
          <div class="line my-3"></div>
        </div>
      </div>
      <div class="row">


      <%= render partial: 'posts/posts' %>

      </div>
    </div>
  </div>



  