  <div class="custom-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-heading">New Post</h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text">Fill all the fields to create a new post.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-grey">
    <div class="container p-5">

      <div class="block">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12 pb-4" data-aos="fade-up" data-aos-delay="200">

               <%= render 'form', post: @post %>

          </div>
        </div>
      </div>
    </div>
  </div>